@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Mini Framework */

html, body {
    height: 100%;
}

.max-widht {
    width: 100%;
    min-height: 100vh;
}

.bg {
    background: url('image/fundo.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: auto;
    display: flex;
}

.container {
    max-width: 1330px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Menu */

.menu {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
}

.logo {
    background: url('image/logo.png') no-repeat;
    background-size: contain;
    width: 150px;
    height: 80px;
    position: relative;
    z-index: 9;
}

/* Tamanho de fontes */

.text-gd {
    font-size: 64px;
}

.text-md {
    font-size: 36px;
}

.text-pq {
    font-size: 14px;
}

.text-title {
    font-size: 25px;
    font-weight: 600;
    background-color: rgba(241, 245, 233, 0.331);
    border-radius: 10px;
}

/* Cores de Texto */

.color-green {
    color: #09a83e;
}

.color-coffee-1 {
    color: #514240;
}

.color-coffee-2 {
    color: #D0bb94;
}

/* Chamada */

.call {
    display: flex;
    align-items: center;
    margin-top: 120px;
} 

.left {
    width: 50%;
    min-height: 600px;
    max-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2%;
}

.right {
    width: 50%;
    min-height: 600px;
    max-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2%;
}

/* Imagem */

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Botão */

button {
    padding: 10px 20px;
    background: #09a83e;
    color: #fff;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    border: 1px solid #09a83e;
    background: #fff;
    color: #09a83e;
}

/* Contact */

.contact {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0 2%;
    width: 100%;
    min-height: 800px;
}

.down {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-height: 300px;
}

/* Título */

.titulo {
    width: 100%;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

/* Box */

.box {
    width: 50%;
    min-height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2%;
}

/* Info */

.info {
    display: flex;
}

/* Desktop-menu */

.desktop-menu ul {
    display: flex;
}

.desktop-menu ul li {
    padding: 0 25px;
    list-style-type: none;
}

.desktop-menu ul li a{
    text-decoration: none;
    color: #545454;
    font-size: 18px;
}

.desktop-menu ul li a:hover {
    color: #09a83e;
    font-weight: 500;
}

/* Mobile-menu */

.mobile-menu {
    width: 95%;
    height: auto;
    position: absolute;
    top: 5px;
    background: #dcdcdc;
    display: none;
}

.mobile-menu i {
    position: absolute;
    right: 25px;
    top: 10px;
    font-size: 23px;
    cursor: pointer;
}

.mobile-menu ul {
    display: block;
    text-align: center;
}

.mobile-menu ul li {
    list-style-type: none;
    padding: 10px 0; 
}

.mobile-menu ul li a {
    text-decoration: none;
    font-weight: 600;
    color: #2b2b2b;
}

.mobile-menu ul li a:hover {
    color: #09a83e;
}

/* Button to-top */

#back-to-top {
    position: fixed;
    bottom: 2px;
    right: 10px;
    padding: 5px 10px;
    background: #2b2b2b;
}

/* Scrollbar Personalizada */

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #fff;
}

body::-webkit-scrollbar-thumb {
    background-color: #2b2b2b;
    border-radius: 20px;
    border: 1px solid #fff;
}

/* Home */

#home .container {
    flex-direction: column;
    justify-content: flex-start;
}

#home .right {
    flex-direction: column;
    align-items: flex-end;
}

#home .right h1 {
    text-align: end;
}

#home .right h2 {
    text-align: end;
    margin-top: 20px;
}

#home .right p {
    text-align: end;
    margin-top: 20px;
}

#home .right button {
    margin-top: 30px;
}

#home .left img {
    border-radius: 30px;
}

/* About */

#about .left {
    flex-direction: column;
    align-items: flex-start;
}

#about .left span {
    margin-top: 20px;
}

#about .left h2 {
    margin-top: 20px;
}

#about .left p {
    margin-top: 20px;
}

#about .left button {
    margin-top: 20px;
}

#about .right img {
    border-radius: 30px;
}

/* Service */

#service .box i {
    border: 4px solid #2b2b2b;
    border-radius: 30px;
    padding: 30px;
    margin-top: 10px;
}

#service .box h2 {
    margin-top: 20px;
    text-align: center;
}

#service .box p {
    margin-top: 20px;
    text-align: center;
}

/* Menu */

#menu .box {
    background: #2b2b2b;
    border-radius: 20px;
    border: 5px solid #09a83e;
    margin: 10px;
}

#menu .box img {
    width: 80%;
    height: auto;
    margin-top: 5px;
}

#menu .box h2 {
    margin-top: 20px;
}

#menu .box p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #fff;
}

#menu .box .text-md {
    font-size: 22px;
}

/* Contact */

#contact .left {
    flex-direction: column;
    align-items: flex-start;
}

#contact .left h2 {
    margin-top: 20px;
}

#contact .left p {
    margin-top: 20px;
}

#contact .left .info img {
    width: 200px;
    margin-top: 20px;
    margin-left: 10px;
    cursor: pointer;
}

#contact .right img {
    width: 70%;
    height: 70%;
    align-items: flex-start;
    margin-top: 80px;
    border-radius: 30px;
}

/* Footer */

footer .container { 
    width: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer .container img {
    width: 120px;
    object-fit: contain;
}

footer .container p {
    font-weight: 600;
}

/* Responsivo */

@media screen and (max-widht: 922px) {
    
    /* Tamanho de fontes */

.text-gd {
    font-size: 54px;
}

.text-md {
    font-size: 28px;
}

.text-pq {
    font-size: 13px;
}

.text-title {
    font-size: 18px;
}
}

@media screen and (max-widht: 740px) {
    
    /* Desktop-menu */

.desktop-menu ul {
    display: none;
}

    /* Mobile-menu */

.mobile-menu {
    display: block;
}

    /* Fontes Texto */

.text-gd {
    font-size: 42px;
}

.text-title {
    font-size: 16px;
}

.titulo {
    min-height: 150px;
}

.down {
    justify-content: space-between;
    flex-direction: column;
    min-height: 600px;
}

.left {
    width: 100%;
    min-height: 300px;
}

.right {
    width: 100%;
    min-height: 300px;
}

.box {
    width: 95%;
}

.call {
    flex-direction: column;
}

img {
    width: 60%;
}
    
    /* Home */

#home .right {
    align-items: center;
}

#home .right h1 {
    text-align: center;
}

#home .right h2 {
    text-align: center;
}

#home .right p {
    text-align: center;
}

    /* About */

#about .left {
    align-items: center;
}

#about .left h2 {
    text-align: center;
}

#about .left p {
    text-align: center;
}

#about .right {
    align-items: center;
}

    /* Menu */

#menu .box img {
    width: 25%;
    margin-top: 20px;
}

#menu .box h2 {
    margin-top: 10px;
}

#menu .box p {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 0;
    color: #fff;
}

    /* Contact */

#contact .right img {
    margin-top: 60px;
}

    /* Footer */

footer .container {
    justify-content: space-evenly;
    flex-direction: column;
    height: 150px;
}

footer .container p {
    margin-top: 20px;
}

}

@media screen and (max-widht: 648px) {

    .logo {
        width: 110px;
        top: 5px;
    }

    #about .right {
        margin-top: 80px;
    }

    #about .right img {
        width: 60%;
    }

    #menu .box h2 {
        font-size: 18px;
    }

    #menu .box p {
        font-size: 14px;
    }

    #menu .box .text-md {
        font-size: 14px;
    }

    #service .box i {
        border: 3px solid #2b2b2b;
        border-radius: 25px;
        padding: 20px;
        margin-top: 10px;
    }

    #service .box h2 {
        font-size: 18px;
    }

    #service .box p {
        font-size: 14px;
    }
} 